<section class="content-center">
    <div class="login-box">
        <p>Admin</p>
        <form>
          <div class="user-box">
            <input required type="text" #user>
            <label>Username</label>
          </div>
          <div class="user-box">
            <input required type="text" #pass>
            <label>Password</label>
          </div>
          <a class="custom-btn" (click)="adminCred(user.value, pass.value)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
        <p>Change Your Password? <a class="a2" (click)="changeAdmin()">Click</a></p>
      </div>
</section>
