<section class="content-center">
    <div class="login-box">
        <p>Login</p>
        <form>
          <div class="user-box">
            <input required type="text" #custUser>
            <label>Username</label>
          </div>
          <div class="user-box">
            <input required type="text" #custPass>
            <label>Password</label>
          </div>
          <a class="custom-btn" (click)="login(custUser.value, custPass.value)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </a>
        </form>
        <p>Don't have an account? <a class="a2" (click)="switchSignUp()">Sign Up</a></p>
      </div>
</section>
<!-- Forgot Your Password -->

