<section>
    <div class="change-pass">
        <h1>Change Admin Password</h1>
        <div class="login-box">
            <form>
                <div class="user-box">
                    <input required="" name="" type="text">
                    <label>Enter Old Password</label>
                </div>
                <div class="user-box">
                    <input required="" name="" type="password">
                    <label>Set New Password</label>
                </div>
                <div>
                    <a href="#">
                        SEND
                        <span></span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>