.content-indentation {
    padding-top: 6rem;
    min-height: 100vh;
}
.content-indentation h1 {
    text-align: center;
    color: white;
    padding-bottom: 3rem;
}
.data {
    color: #9ed733;
    font-size: larger;
    padding-top: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.data-body {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px white;
}