/* Color of the links BEFORE scroll */
.nav-link{
  color: #fff !important;
  font-size: 18px;
  position: relative;
  font-size: larger;
}
.mob-nav-bar {
  color: #fff;
  font-size: 3rem;
  border: none;
  border-radius: none;
}
.medicare-navlink::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #3cb876;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s linear;

}
.medicare-navlink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.credential {
    color: #fff !important;
    font-weight: bold;
    font-size: larger;
}

.credential:hover {
  color: #3cb876 !important;
  font-weight: bold;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
  
}
.navbar-brand .logo-1 {
    /* color: #0a36f9;  */
    color: #3cb876;
    font-size: 36px; 
    font-weight: bold;
    font-family: 'LogoFont-2';
}
.navbar-brand .logo-2 {
    color: #fff; 
    font-size: 28px; 
    font-family: 'LogoFont-1';
}
.navbar-center {
    text-align: center;
}


