<section class="content-center">
  <div class="login-box">
      <p>Sign Up</p>
      <form>
        <div class="user-box">
          <input required type="text" #username>
          <label>Username</label>
        </div>
        <div class="user-box">
          <input required type="text" #password>
          <label>Password</label>
        </div>
        <a class="custom-btn" (click)="signup(username.value, password.value)">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign Up
        </a>
      </form>
      <p>Already you have an account? <a class="a2" (click)="switchLogin()">Login</a></p>
    </div>
</section>

