.update-pro {
    color: white;
    margin: 0; 
    /* padding-top: 5rem;  */
    /* min-height: 100vh; */
}
.update-pro h1 {
    padding-top: 3rem;
    text-align: center;
}
.form-container {
   padding: 70px 100px;
}